* {
	color: whitesmoke;
	margin: 0px;
	border: none;
	padding: 0px;
	height: fit-content;
	width: fit-content;
}

body {
	background: rgb(14, 14, 14);
	overflow: hidden;
}

.hidden {
	visibility: hidden !important;
	display: none !important;
}

.invisible {
	visibility: hidden !important;
}