:root {
	--navbar-height: 32px;
}

* {
	color: rgb(245, 245, 245);
	background-color: rgb(14, 14, 14);
	margin: 0px;
	padding: 0px;
	border: none;
}

body {
	width: 250px;
	height: 400px;
}

#navbar {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	overflow-y: hidden;
	height: var(--navbar-height);
	background-color: rgb(17, 21, 28);
}

#navbar:hover {
	overflow-y: overlay;
}

.navbar-item {
	margin: 1px;
	padding: 0px 5px;
	height: calc(var(--navbar-height) - 6px);
	width: fit-content;
	max-width: 30vw;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(33, 45, 64);
	color: rgb(15, 192, 192);
	text-overflow: ellipsis;
	white-space: nowrap;
}

.navbar-item:hover {
	color: rgb(12, 128, 128);
}

.navbar-item.selected {
	background-color: rgb(54, 65, 86);
}

#content {
	margin-top: var(--navbar-height);
	width: 100%;
	height: calc(100% - var(--navbar-height));
}