* {
	color: rgb(245, 245, 245);
	background-color: rgb(14, 14, 14);
	margin: 0px;
	padding: 0px;
	border: none;
	font-size: 1.1rem;
}

.inactive {
	color: rgb(200, 200, 200);
	background-color: rgb(128, 128, 128);
	cursor: default;
}

html,
body {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

header {
	position: absolute;
	top: 10vh;
}

a {
	margin: 2.5px;
	padding: 7.5px;
	border-style: outset;
	border-width: 1px;
	border-radius: 10px;
	border-color: rgb(192, 192, 192);
	background-color: rgb(0, 150, 250);
	font-weight: bold;
	display: inline-block;
}

button {
	margin: 2.5px;
	padding: 10px;
	border-style: outset;
	border-width: 1px;
	border-radius: 10px;
	border-color: rgb(192, 192, 192);
	background-color: rgb(0, 150, 250);
	font-weight: bold;
	display: inline-block;
	cursor: pointer;
}