._images {
	width: 25vw !important;
	height: auto !important;
	min-width: unset !important;
	min-height: unset !important;
	max-width: unset !important;
	max-height: unset !important;
}

/* Dark mode for the reader */

html {
	height: auto;
}

#_viewerBox {
	width: 100vw;
}

#_imageList {
	width: 100vw;
	padding: 50px 0px;
	translate: 0px -50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(10, 10, 10);
}
