/* fix outline getting cut off */
.sc-1kr69jw-0.hkzusx {
	padding-top: 10px;
	padding-bottom: 10px;
}

.pixivViewer-selected {
	outline-style: ridge;
	outline-color: rgb(0, 150, 250);
	outline-width: 4px;
	outline-offset: 4px;
	border-radius: 1em;
}

#h3nti3-selectButton {
	display: none;
	padding: 0.2rem 1rem;
	border: none;
	border-radius: 2.4rem;
	position: fixed;
	left: 10px;
	bottom: 10px;
	z-index: 1;
	background-color: rgba(255, 255, 255, 0.12);
	color: rgb(214, 214, 214);
	font-size: 2rem;
	font-family: sans-serif;
	font-weight: bold;
}

#h3nti3-selectButton[data-illust-id] {
	display: block;
}

#h3nti3-selectButton:hover {
	background-color: rgba(255, 255, 255, 0.2256);
}

#h3nti3-selectButton[data-selected] {
	background-color: rgb(0, 150, 250);
}

#h3nti3-selectButton[data-selected]:hover {
	background-color: rgb(0, 160, 250);
}