._images {
	width: 25vw !important;
	height: auto !important;
	min-width: unset !important;
	min-height: unset !important;
	max-width: unset !important;
	max-height: unset !important;
}

/* Dark mode for the reader */

.cont_box .viewer_lst {
	overflow: visible !important;
}

#_imageList {
	width: 100vw;
	padding: 50px 0px;
	translate: -14.288694vw -50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(10, 10, 10);
}
