* {
	margin: 0px;
	padding: 0px;
	border: none;
	width: fit-content;
	height: fit-content;
}

html {
	background-color: rgb(32, 32, 32);
	color: whitesmoke;
}

body {
	width: 100vw;
	min-height: 100vh;
}

.hidden {
	visibility: hidden !important;
	display: none !important;
}

.invisible {
	visibility: hidden;
}
