/* Remove the weird gap between pictures */
.py-4 {
	padding: 0px !important;
	font-size: 0px !important;
}

img.max-w-full.mx-auto.display-block {
	width: 25vw;
	height: auto;
}

/* Fix hide cursor not working because the cursor is outside the page */
.h-screen {
	min-height: 100vh !important;
	height: auto !important;
}
