@import '../../base.css';

.loading {
	min-width: 5vw;
	min-height: 5vh;
	background-image: url(../../../images/spinner/light.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

main {
	height: 100vh;
	width: 100vw;
	overflow: scroll;

	>#error-container {
		width: 100vw;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		p {
			text-align: center;
		}

		>#error-title {
			color: red;
			font-size: 2rem;
			max-width: min(50vw, 50ch);
		}

		>#error-description {
			font-size: 1.3rem;
			max-width: 60vw;
		}
	}

	>#presentation-container {
		overflow: hidden;

		>.media-container {
			.content-container {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100vw;
				min-height: 100vh;

				>* {
					width: auto;
					height: auto;
					max-width: 100vw;
					max-height: 100vh;
				}

				>.content-counter {
					width: fit-content;
					height: fit-content;
					position: absolute;
					right: 3px;
					bottom: 3px;
					text-shadow: black 0 0 5px;
				}
			}

			.info-container {
				position: absolute;
				left: 3px;
				top: 3px;
				text-shadow: black 0 0 5px;

				>.creator-list {
					margin-top: 5px;
					font-size: .9rem;
				}

				>div {
					display: flex;
					flex-direction: row;
					justify-content: flex-start;
					align-items: center;

					>* {
						display: inline-block;
					}

					>.origin-link {
						margin: 0px 5px;
						text-shadow: grey 0 0 1px;
					}

					>.favorite-button {
						width: 1.1rem;
						height: 1.1rem;
						margin: 0 3px;
						border-radius: .45rem;
						background-color: rgba(0, 0, 0, 0.1);
						background-size: contain;
						background-image: url(../../../images/star/yellow-outline.svg);
					}
				}
			}

			&[data-favorite="true"] .info-container>div>.favorite-button {
				background-image: url(../../../images/star/yellow.svg);
			}

			/* Allow scrolling even when the cursor is hidden with hideCursor */
			&[data-type="webtoon"] {
				pointer-events: auto !important;

				>.content-container {
					flex-direction: column;
					justify-content: flex-start;

					>img {
						width: 25vw;
						max-height: none;
					}
				}
			}

		}
	}
}

#media-counter {
	position: absolute;
	right: 3px;
	top: 3px;
	text-shadow: black 0 0 5px;
}

#toolbox-wrapper {
	position: absolute;
	bottom: 5px;
	left: 5px;
	background-color: black;
	padding: 7.5px;
	border-style: solid;
	border-color: #555;
	border-radius: 1rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap-reverse;
	max-width: 30vw;
	max-height: 50vh;

	>#toolbox-icon {
		--bar-width: 1.5rem;
		--bar-height: .25rem;
		--gap: .2rem;

		display: flex;
		flex-direction: column;
		gap: var(--gap);
		cursor: pointer;

		&::before,
		>p,
		&::after {
			content: "";
			width: var(--bar-width);
			height: var(--bar-height);
			background-color: white;
			appearance: none;
			pointer-events: none;
		}
	}

	#toolbox-menu-selector {
		margin: 0px auto;
		padding: .1rem;
		background-color: rgb(40, 40, 40);
		color: inherit;
		border-radius: .2rem;

		&:active {
			background-color: rgb(50, 50, 50);
		}
	}

	#toolbox-menu-list {
		width: 100%;
		margin-bottom: 10px;
		list-style: none;

		>.toolbox-menu {
			width: 100%;
			max-height: calc(50vh - 17.5px - 1.1rem);
			overflow: scroll;

			ol {
				width: 100%;
				height: calc(50vh - 5.5rem);
				overflow: scroll;
				list-style-position: inside;
				list-style-type: decimal-leading-zero;

				>li {
					border-style: solid;
					border-color: darkgray;
					border-radius: .5rem;
					padding: 1px;
					width: calc(100% - 1rem);

					&:not(:first-child) {
						margin-top: 3px;
					}

					&.dragging {
						opacity: .5;
					}

					>div {
						display: inline-block;
						width: calc(100% - 2rem);

						>div {
							display: flex;
							justify-content: space-between;
							width: 100%;

							>p {
								display: inline-block;
								max-width: calc(100% - 1rem);
								line-break: anywhere;
							}

							>button {
								width: 1rem;
								height: 1rem;
								display: inline-flex;
								justify-content: center;
								align-items: center;
							}
						}
					}
				}
			}

			button {
				margin: 2.5px;
				padding: .15rem;
				border-radius: .3rem;
				color: inherit;
				background-color: rgb(40, 40, 40);
				cursor: pointer;

				&:active {
					background-color: rgb(50, 50, 50);
				}
			}

			input {
				margin: 0px 2.5px;

				&[type="number"] {
					width: 4rem;
				}
			}

			.ugly-hack {
				display: flex;
				align-items: baseline;
				width: 100%;

				input {
					flex-shrink: 2;
					min-width: 0px;
					flex-grow: 2;
					max-width: 20rem;
				}
			}

			&:not(.selected) {
				display: none;
			}
		}
	}

	&:not(.open) {

		>#toolbox-menu-selector,
		>#toolbox-menu-list {
			display: none;
		}
	}
}

/* Offset for the container for the messages by showMessage() to prevent them from getting hidden behind #media-counter */
#h3nti3-messages {
	top: calc(1rem + 3px) !important;
}
